body {
  background-image: url(wood-background.jpg);
  text-align: center;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.container {
  border: 4px solid white;
  border-radius: 5px;
  height: 760px;
  width: 470px;
  align-content: center;
}

div[data-cell] {
  width: 70px;
  height: 70px;
  float: left;
  border: 3px solid white;
  font-size: 100px;
}

.hint {
  height: 30px;
  width: 120px;
  border: 3px solid white;
  border-radius: 10px;
  float: left;
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.result {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
  margin-top: 3.5px;
}

.result-white {
  background-color: white;
}

.result-black {
  background-color: black;
}

.row {
  clear: both;
}

.selection-container {
  display: flex;
  flex-direction: column;
}

.selection-box{
  width: 70px;
  height: 70px;
  background-color: #f2f2f2;
  border: 3px solid #808080;
}

.circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 5px;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.brown {
  background-color: brown;
}
.purple {
  background-color: purple;
}
.pink {
  background-color: pink;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}

#announce-winner {
  margin-top: 30px;
  margin-left: -5%;
  clear: both;
  font-size: 50px;
  color: white;
}
#clear {
  background-image: url(restart.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 200px;
  height: 200px;
}
#easy {
  background-image: url(easy.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 200px;
  height: 200px;
}
